.App {
  text-align: center;
  /* display: flex; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Root Styles and Variables */
:root {
  /* --main-accent-color: hotpink; */
  /* --header-background-color: rgb(53, 53, 53); */
  --input-field-background-color: rgb(185, 185, 185);
  --background-color: #22201a;
  --primary-accent-color: #cdb47d;
  --text-accent-color: #cdb47d;
  /* Buttons */
  --primary-button-color: #cdb47d;
  --primary-button-border: #cdb47d;
  --primary-button-bg-color: #22201a;

  --table-stripe-color: #38352a;
  --table-text-accent-color: #f0d292;

  --table-hover-bg-color: #5a5544;
  --table-text-hover-color: #ffdf9b;

  --task-complete-color: #cdb47d55;
}

/* Body & Site Wide Styles */
body {
  --bs-body-color: var(--text-accent-color);
  --bs-body-bg: var(--background-color);
}

#page-main {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1400px;
  min-width: 800px;
  width: 95%;
  margin: 0 auto;
}

#page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bootstrap-override a {
  text-decoration: none;
  color: var(--text-accent-color);
  font-weight: bold;
}

#bootstrap-override .btn-primary {
  margin: 0px 5px 0px 5px;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.flex-vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.flex-left {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  width: 100%;
}

/* Headers */
#avatar-img {
  height: 40px;
  border-radius: 50%;
  margin: 0px 10px;
}

#bootstrap-override #page-header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--primary-accent-color);
  text-decoration: none;
}

#bootstrap-override .index-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Forms */
#bootstrap-override input[type="text"],
#bootstrap-override input[type="number"],
#bootstrap-override select,
#bootstrap-override input[type="color"],
#bootstrap-override input[type="password"],
#bootstrap-override textarea {
  background-color: var(--background-color);
  border: 1px solid var(--primary-accent-color);
  color: var(--text-accent-color);
}

#bootstrap-override .input-group-text {
  background-color: var(--background-color);
  color: var(--text-accent-color);
  border: 1px solid var(--primary-accent-color);
  width: 80px;
}

#bootstrap-override #formCellProgress {
  width: 100%;
  padding: 0 10px;
}

#bootstrap-override #cell-form-color-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bootstrap-override #formCellColor {
  margin: 0 auto;
}

.col-25 {
  width: 25%;
  /* padding: 0 5px; */
}

.padded-right {
  padding: 0 5px 0 0;
}

.padded-left {
  padding: 0 0 0 5px;
}

.input-width-500 {
  width: 500px;
}

#bootstrap-override .input-width-200 {
  width: 200px;
}

/* Map Grid */
#cell-grid-container {
  --grid-width: 1200px;
  --grid-height: 1015px;
  --aspect-ratio: 0.84583;
  /* --aspect-ratio: calc(var(--grid-width) / var(--grid-height)); */
  --width: 95%;
  --min-width: 1100px;
  display: grid;
  grid-template: repeat(77, 1fr) / repeat(91, 1fr);
  gap: 0px;

  /* width: var(--grid-width);
  min-width: var(--grid-width);
  height: var(--grid-height);
  min-height: var(--grid-height); */

  /* Aspect ratio: .84583 */
  /* width: var(--width); */
  width: var(--grid-width);
  /* height: calc(var(--width) * var(--aspect-ratio)); */
  height: var(--grid-height);
  /* min-width: var(--min-width); */
  /* min-height: calc(var(--min-width) * var(--aspect-ratio)); */

  place-self: stretch;
  background-image: url("./assets/images/AshTestMap2trans.png");
  /* background-size: 1200px 1015px; */
  background-size: 100% 100%;
}

.cell-block {
  background-color: white;
  display: flex;
  place-self: stretch;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.tooltip-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Button */
.btn.btn-primary {
  background-color: var(--primary-button-bg-color);
  border: 1px solid var(--primary-button-border);
  color: var(--primary-button-color);
}
.btn.btn-primary:hover {
  background-color: var(--primary-button-border);
  border: 1px solid var(--primary-button-border);
  color: var(--primary-button-bg-color);
}

.btn.btn-primary:disabled {
  background-color: var(--primary-button-bg-color);
  border: 1px solid var(--primary-button-border);
  color: var(--primary-button-color);
}

/* Dashboard */
.dashboard-tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#map-shortcut-tile {
  flex-direction: row;
}

.margin-top-20 {
  margin-top: 20px;
}

/* Tables */
#bootstrap-override .table-dark {
  --bs-table-bg: var(--background-color);
  --bs-table-striped-bg: var(--table-stripe-color);
  color: var(--text-accent-color);
  --bs-table-striped-color: var(--table-text-accent-color);

  --bs-table-hover-bg: var(--table-hover-bg-color);
  --bs-table-hover-color: var(--table-text-hover-color);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bootstrap-override .table-color-box {
  --size: 24px;
  width: var(--size);
  height: var(--size);
}

/* Cell Details Page */
.details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* List Groups */
#bootstrap-override .list-group-item {
  background-color: var(--background-color);
  color: var(--text-accent-color);
  /* border: 1px solid var(--primary-accent-color); */
  /* border-top-width: 0; */
  border-color: var(--primary-accent-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* #bootstrap-override .list-group .list-group-item:first-child {
  border-top-width: 1px;
  color: violet;
} */

#bootstrap-override .list-group {
  width: 50%;
  padding: 5px;
}

#cell-progress {
  width: 100%;
}

#new-task-form {
  flex-direction: column;
  width: 100%;
}

#new-task-submit-btn,
#new-task-submit-btn.btn.btn-primary {
  margin: 10px auto 0px auto;
}

#bootstrap-override .task-complete {
  color: var(--task-complete-color);
  text-decoration: line-through;
}

#bootstrap-override .list-group-item:hover {
  background-color: var(--table-hover-bg-color);
  color: var(--table-text-hover-color);
}

#bootstrap-override .progress-bar {
  color: var(--background-color);
  background-color: var(--primary-accent-color);
}

#bootstrap-override .progress {
  /* color: var(--background-color); */
  background-color: var(--background-color);
  border: 1px solid var(--primary-accent-color);
  height: 24px;
}

/* User Info */
.width-200 {
  width: 150px;
}

#bootstrap-override .width-full {
  width: 100%;
}
#user-info-panel {
  width: 400px;
}

/* Login Screen */
.cellmate-logo {
  width: 400px;
  fill: var(--primary-accent-color);
  filter: invert(79%) sepia(21%) saturate(590%) hue-rotate(3deg) brightness(90%)
    contrast(87%);
}

#bootstrap-override .gateway-password-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 300px; */
}

#gateway-password {
  justify-content: center;
  width: 300px;
}

.width-300 {
  width: 300px;
}

/* Header */
.cellmate-logo-header {
  width: 200px;
  fill: var(--primary-accent-color);
  filter: invert(79%) sepia(21%) saturate(590%) hue-rotate(3deg) brightness(90%)
    contrast(87%);
  margin-left: 20px;
}
